fastapi
uvicorn
langchain
langchain-community
langchain-ollama
langchain-chroma
langchain-huggingface
langchain-openai
langchain-classic
langchain-text-splitters
chromadb
sentence-transformers
pypdf
flashrank
ragas
datasets
python-dotenv
rich
jinja2
python-multipart